include assets/layouts/base
body
    header
        .logo
            img(src="assets/img/logo.png", alt="")
        nav
            ul
                li: a(href="") Oferta
                li: a(href="") Blog
                li: a(href="") Współpraca
                li: a(href="") Kontakt        
    section#latestPost.container
        .overlay
        .wrapper
            .col
                .postExcerpt.light
                    p.meta 20 stycznia 2016 | nazwa kategorii
                    a(href="#"): h1 Tytuł najnowszego posta
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, optio obcaecati accusantium sint, quod, inventore tempore mollitia, illo sit nisi officia dolore facere! Illo ex beatae saepe harum voluptatem ipsa!
    section#postCarousel.container.slider
        .post
            a(href="#")
                img(src="assets/img/post.jpg", alt="")
                .postOver
                    .overlay
                    h3 Tytuł posta
        .post
            a(href="#")
                img(src="assets/img/post.jpg", alt="")
                .postOver
                    .overlay
                    h3 Tytuł posta
        .post
            a(href="#")
                img(src="assets/img/post.jpg", alt="")
                .postOver
                    .overlay
                    h3 Tytuł posta
        .post
            a(href="#")
                img(src="assets/img/post.jpg", alt="")
                .postOver
                    .overlay
                    h3 Tytuł posta
        .post
            a(href="#")
                img(src="assets/img/post.jpg", alt="")
                .postOver
                    .overlay
                    h3 Tytuł posta
        .post
            a(href="#")
                img(src="assets/img/post.jpg", alt="")
                .postOver
                    .overlay
                    h3 Tytuł posta
    
        

            


        
include assets/layouts/footer